
body {
    background-color: #C7F0F7;
    color: blue;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
   
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover{
    border-bottom:2px #075559 solid;
    font-size: 2em;
    transition: .9s;
    
}

#me, #welcomeText {
    float: left;
    font-size: 1.2em;
   
 
}

footer {
    clear: left;
    font-size: 1em;
    color: #075559;
}
header, main, nav, footer {
    text-align: center;
}

table{
    margin: 0px auto;
    
}

td{
    padding-right: 10px;
    font-size: 1.3em;
}

td strong{
    color:#5EC9C7;
}

#table-header{
    background-color: #075559;
    
}
#table-row{
    background-color: #075559;
}

ul{
    text-align: left;
    padding-left: 400px;
}

.hobby{
    color: #075559;
    font-weight: bold;
}